extends ./_base.jade

// Example, add new links to the page <head>.
// append base_head_links
    // link(rel="stylesheet", href="css/some.css")

// Example, change the page title.
block base_title
    title New title

// Example, set the page content.
block base_body
    // h1 New page header
    // p New page content
    // ul Some list
    //     li 1
    //     li 2
    //     li 3
    //     li 4
    //     li 5

// Example, clear the base_body_links block.
// block base_body_links
